.header {
    align-content: center;
    align-items: stretch;
    background: #e8e8e8  ;
    box-shadow:
      0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 2px 9px 1px rgba(0, 0, 0, 0.12),
      0 4px 2px -2px rgba(0, 0, 0, 0.2);
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 18.0px;
    height: 50px;
    justify-content: flex-start;
    position: fixed;
    transition: transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
    width: 100%;
    will-change: transform;
    z-index: 1000;
}

.hide {
    display: none;
}

.user-menu {
    position: fixed;
    right: 20px;
    top: 50px;
    background-color: #e8e8e8;
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    
}

.login-link {
    position: fixed;
    right: 20px;
    top: 15px;
}


.user-icon {
    position: fixed;
    right: 20px;
    top: 5px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.signUpButton {
    display: block;
    float: right;
    padding-right: 55px;
}

#user-menu-list {
    display: list-item;
}


.menuList li a {
    display: block;
    text-align: center;
}

.menuList li {
   display: inline-block;
    padding-left: 15px;
}

.user {
    display: block;
    float: left;
    padding-left: 15px;
}

@media screen and (max-width: 992px) {

    .user {
        display: none;
    }



  }